form{
    max-width: 600px;
    margin: auto;
}

h1{
    font-family: "Abel";
}

.form-top{
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width:800px) {
    .form-row{
        flex-direction: column;
        gap:unset;
        align-items: unset;
    }
}