.admin-con{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

}

.admin-links{
    list-style: none;

}

.admin-links .nav-link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 5px auto;
    padding: 10px 20px;
    font-size: 15px;
}

.admin-links .nav-link.active{
    border: 2px solid white;
    background: #7349E9;
}



.admin-con .left{
    flex-basis: 15%;

}
.admin-con .right{
    flex-basis: 80%;
}

.admin-paintings-con{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

@media only screen and (max-width:800px) {
    .admin-con{
        flex-direction: column;

    }
}